
.tw .bg{
    width:100%;
    height:100vh;
    background-image:url(../img/tw/background.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:fixed;
    z-index:1;
    opacity:0.9;
}
/* 20대 컨텐츠 시작 */
.tw .con{
    max-width:1200px;
    width:90%;
    overflow:hidden;
    padding-top:100px;
    margin:0px auto 30px auto;
    box-sizing:border-box;
    position:relative;
    z-index:100;
}
.tw .con .text{
    width:66%;
    height:0;
    padding-bottom:260px;
    float:left;
    margin-right:2%;
    margin-bottom:2%;
}
.tw .con .text h1{
    font-size:2.4rem;
    line-height:6rem;
    font-weight:500;
    color:#fff;
}
.tw .con .text p{
    font-size:1.6rem;
    line-height:2.4rem;
    font-weight:300;
    color:#fff;
}
.tw .con .box{
    width:32%;
    height:0;
    padding-bottom:260px;
    float:left;
    background-color:saddlebrown;
    position:relative;
}
.tw .con .box span{
    width:100%;
    height:100%;
    position:absolute;
    opacity:0;
}
.tw .con .box a{
    display:block;
    width:100%;
    height:100px;
    line-height:100px;
    text-align:center;
    font-size:2rem;
    font-weight:300;
    color:#fff;
    position:absolute;
    top:50%;
    left:0;
    margin-top:-50px;
    cursor:pointer;
    opacity:0;
}
.tw .con .wall{
    background-image:url(../img/tw/banner_01.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.tw .con .wall span{
    background-color:#333333;
}
.tw .con .miso{
    margin-right:2%;
    background-image:url(../img/tw/banner_02.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.tw .con .miso span{
    background-color:#665d88;
}
.tw .con .tamako{
    margin-right:2%;
    background-image:url(../img/tw/banner_03.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.tw .con .tamako span{
    background-color:#d36b86;
}
.tw .con .happy{
    background-image:url(../img/tw/banner_04.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.tw .con .happy span{
    background-color:#68b6ff;
}
/* 20데 컨텐츠 끝 */

/* 20대 컨텐츠 반응형 시작 */
@media screen and (max-width:1440px){
    .tw .con{
        width:80%;
    }
}
@media screen and (max-width: 768px){
    .tw .con{
        box-sizing:border-box;
        position:relative;
        z-index:100;
    }
    .tw .con .text{
        width:100%;
        height:auto;
        padding-bottom:0;
        float:none;
        margin-right:0;
        margin-bottom:60px;
    }
    .tw .con .miso{
        margin-right:0%;
    }
    .tw .con .tamako{
        margin-right:0%;
    }
    .tw .con .box{
        width:48%;
        float:left;
        margin-bottom:4%;
    }
    .tw .con .box:nth-of-type(2n){
        margin-right:4%;
    }
}
@media screen and (max-width: 599px) {
    .tw .con{
        box-sizing:border-box;
        position:relative;
        z-index:100;
    }
    .tw .con .box:nth-of-type(2n){
        margin-right:0;
    }
    .tw .con .box{
        width:100%;
        padding-bottom:200px;
        float:none;
        margin-bottom:4%;
    }
}
/* 20대 컨텐츠 반응형 끝 */